/* variables */
:root {
    --ff-primary: "Poppins", sans-serif;
    --clr-bg: #FFA800;
    --clr-dark-700: #222831;
    --clr-dark-600: #393E46;
    --clr-accent-700: #FF4C29;
    --clr-accent-600: #F2792E;
}

/* css reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul[role="list"] {
    list-style: none;
}

/* global rules */
body {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    font-family: var(--ff-primary);
    background-color: var(--clr-bg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* calculator */
.calculator {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
    min-height: 100vh;
    background-color: var(--clr-dark-700);
}

.display {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 28vh;
    padding: 0 40px 0 20px;
    border-radius: 8px 8px 35px 35px;
    color: white;
    background-color: var(--clr-dark-600);
}

.display .container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.display .btn-history {
    position: absolute;
    width: 40px;
    top: 30px;
    left: 25px;
}

.display .overflow {
    width: 100%;
}

.display .container h2 {
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-dark-700);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-600);
}

.display .container .result {
    min-height: 42.06px;
    margin-bottom: -50px;
    font-size: 1.75rem;
    font-weight: 400;
    opacity: 0.75;
}

.display .expression {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.buttons {
    width: 100%;
    height: 70vh;
    margin-inline: auto;
    padding: 6% 1.7%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1%;
    column-gap: 1%;
    align-items: center;
}

.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    max-height: 90px;
    aspect-ratio: 1/1;
    height: 90%;
    color: white;
    background-color: var(--clr-dark-600);
    border-radius: 100%;
    font-size: 2.1rem;
}

.buttons button:first-child {
    grid-column: span 2;
    width: 100%;
    aspect-ratio: initial;
    border-radius: 40px;
    background-color: var(--clr-accent-700);
}

.buttons button:last-child {
    background-color: var(--clr-accent-700);
}

.buttons .btn-operation {
    background-color: var(--clr-accent-600);
}

.buttons button[data-value="delete"] img {
    width: 38px;
}

@media screen and (min-width: 390px) and (max-width: 475px) {
    .buttons {
        padding: 9% 1.9%;
        gap: 2.5%;
    }
}


@media screen and (min-width: 475px) and (max-width: 700px) {
    .buttons button {
        width: 100%;
        border-radius: 40px;
    }

    .buttons {
        column-gap: 15px;
    }    
}

@media screen and (min-width: 700px) {
    .calculator {
        width: 400px;
        min-height: initial;
        height: 800px;
        border-radius: 30px;
    }

    .calculator .display {
        border-radius: 20px 20px 35px 35px;
    }
    .buttons {
        height: 75%;
        padding: 40px 10px;
        column-gap: 10px;
        row-gap: 10px;
    }

}