/* variables */
:root {
    --ff-primary: "Poppins", sans-serif;
    --ff-clr: #ffffff;

    --clr-dark-700: #222831;
    --clr-dark-600: #393e46;
    --clr-accent-700: #ff4c29;
    --clr-accent-600: #f2792e;
    --clr-bg: #ffa800;

    --clr-history: #2f343c;
    --clr-digits-active: #535962;
    --clr-operations-active: #fa8e4d;
    --clr-functions-active: #ff6b4e;

    --clr-display: var(--clr-dark-600);
    --clr-buttons-bg: var(--clr-dark-700);
    --clr-digits: var(--clr-dark-600);
    --clr-operators: var(--clr-accent-600);
    --clr-functions: var(--clr-accent-700);
}

/* css reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul[role="list"] {
    list-style: none;
}

/* global rules */
body {
    height: 100svh;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: var(--ff-primary);
    background-color: var(--clr-bg);
}

button {
    border: none;
    background-color: transparent;
    cursor: default;
}

/* calculator */
.calculator {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-inline: auto;
    background-color: var(--clr-buttons-bg);
}

.display {
    width: 100%;
    min-height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 0 35px 35px;
    color: var(--ff-clr);
    background-color: var(--clr-dark-600);
}

.display .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 40px 20px;
}

.history {
    width: 100%;
    height: 0%;
    transition: height 0.5s ease;
    overflow: hidden;
    background-color: var(--clr-history);
}

.history .outer-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3.5%;
}

.history p {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.history.open {
    height: 30%;
}

.history-container {
    width: 90%;
    height: 100%;
    position: relative;
    overflow: auto;
    padding-inline: 3%;
    color: var(--ff-clr);
    font-size: 1.4rem;
    font-weight: 300;
}

.history-container::-webkit-scrollbar {
    width: 7px;
}

.display .btn-history {
    position: absolute;
    width: 40px;
    top: 12%;
    left: 6%;
}

.display .container h2 {
    display: flex;
    flex-direction: row-reverse;
    overflow: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--clr-dark-700);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-600);
}

.display .container .result {
    min-height: 42.06px;
    margin-bottom: -17%;
    font-size: 1.75rem;
    font-weight: 400;
    opacity: 0.75;
}

.display .expression {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.buttons {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    padding: 6% 1.7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1%;
    column-gap: 1%;
    align-items: center;
}

.buttons.collapsed button {
    transition: aspect-ratio 0.4s ease, border-radius 0.4s ease;
    aspect-ratio: 2/1;
    border-radius: 30px;
}

.buttons.expand button {
    transition: aspect-ratio 0.3s ease, border-radius 0.3s ease;
}

.buttons button {
    height: 100%;
    user-select: none;
    max-height: 80px;
    max-width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    transition: aspect-ratio 0.8s ease, border-radius 0.8s ease;
    color: var(--ff-clr);
    background-color: var(--clr-dark-600);
    border-radius: 100%;
    font-size: 2.1rem;
}

.buttons button:first-child {
    width: 100%;
    aspect-ratio: initial;
    grid-column: span 2;
    border-radius: 40px;
    background-color: var(--clr-accent-700);
}

.buttons button:last-child {
    background-color: var(--clr-accent-700);
}

.buttons .btn-operation {
    background-color: var(--clr-accent-600);
}

.buttons button[data-value="delete"] img {
    width: 38px;
}

/* button effect on touch */
.buttons button.pressed {
    transition: border-radius 0.15s ease;
}

.buttons button.pressed {
    border-radius: 25px;
    background-color: var(--clr-digits-active);
}

.buttons button:first-child.pressed,
.buttons button:last-child.pressed {
    background-color: var(--clr-functions-active);
}

.buttons .btn-operation.pressed {
    background-color: var(--clr-operations-active);
}

/* Media queries */
@media screen and (min-width: 390px) and (max-width: 475px) {
    .buttons {
        padding: 9% 1.9%;
        gap: 2.5%;
    }
}

@media screen and (min-width: 475px) and (max-width: 700px) {
    .buttons button {
        width: 100%;
        border-radius: 40px;
    }

    .buttons {
        column-gap: 15px;
    }
}

@media screen and (min-width: 700px) {
    .calculator {
        width: initial;
        height: 90%;
        max-height: 800px;
        aspect-ratio: 1/2;
        border-radius: 30px;
        box-shadow: 1px 3px 22px 12px rgba(0, 0, 0, 0.34);
    }

    .calculator .display {
        border-radius: 0 0 35px 35px;
    }

    .display .container {
        padding-bottom: 2.2%;
    }

    .buttons {
        padding: 40px 10px;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    button {
        cursor: pointer;
    }

    .buttons button {
        height: 95%;
    }
}

/* height media queries */
@media screen and (max-height: 500px) {
    .display .btn-history {
        width: 35px;
        top: 10%;
    }

    .display {
        min-height: 35%;
    }

    .buttons {
        gap: 2.5%;
    }

    .buttons button {
        aspect-ratio: 1.5/1;
        border-radius: 30px;
    }

    .buttons button.pressed {
        border-radius: 16px;
    }
}

@media screen and (min-height: 800px) and (max-width: 700px) {
    .buttons button {
        max-height: 90px;
    }
}
